body {
  background-color: black;
  font:"Old english tekst mt";
}

#tabs {
  background-color: lightgreen;

}

#tabs-1 {
  min-height: 600px;
  background-image:url(Afbeeldingen/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#tabs-2 {
  min-height: 600px;
}
#tabs-3 {
  min-height: 600px;
}

#tabs-4 {
  min-height: 600px;
  background-image:url(images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#tabs-5 {
  min-height: 600px;
  background-image:url(images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

table {
  color:red;
  text-align: center;
}

footer {
  background-color: lightgreen;
  text-align: center;
}
textarea {
  height: 100px;
  width: 300px;
  box-shadow: 2px 2px 2px black;
}
button {
  text-align: center;
  padding:5px;
  display: block;
  margin-top:10px;
  width: 100px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: outset 2px 2px 5px black;
  margin-left: auto;
  margin-right: auto;
}

button:active{
  background-color: gray;
  color: white;
  border-radius: 10px;
  box-shadow: outset 2px 2px 5px gray;
}
